.footer-distributed{
	background-color: #6e8091;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-family:'roboto';
	font-size:15px;
	

	padding: 20px 180px;
	margin-top: 38vh;
	
	
	
	
}

.footer-distributed .footer-left p{
	color:  #d9d9d9;
	font-size: 24px;
	margin: 0;
}

/* Footer links */
.footer-distributed .footer-company-motto{
	color:  #d9d9d9;
	font-size: 34px;
	margin: 0;
}

.footer-distributed .footer-company-name{
	color:  #21262c;
	font-size: 17px;
	margin: 0;
	font-weight: 300;
}
.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #d9d9d9;
	margin: 0 0 0px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 0px;
	max-width: 180px;
	
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 95px;
	height: 25px;
	background-color:  #6e8091;
	border-radius: 2px;

	font-size: 21px;
	font-weight: 400;
	color: #d9d9d9;
	text-align: right;
	line-height: 35px;

	
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
